In [1]:
import numpy as np
import pandas as pd
import os
import seaborn
import pylab as pl
import zipfile

%pylab inline

Populating the interactive namespace from numpy and matplotlib

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
# Creating the environmental variable PUIDATA in order to file data in a new directory

os.environ["PUIDATA"] = "%s/PUIdata"%os.getenv("HOME")
PUIdata = os.getenv('PUIDATA')

print (PUIdata)

/nfshome/jl9489/PUIdata

In [3]:
# Using command prompts, call PLUTO data from internet and store in .zip file

!curl https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip > pluto.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 46.0M  100 46.0M    0     0  96.3M      0 --:--:-- --:--:-- --:--:-- 96.4M

In [4]:
# Unzip file and pull .csv files as needed

!unzip $PUIDATA/pluto.zip -d $PUIDATA

unzip:  cannot find or open /nfshome/jl9489/PUIdata/pluto.zip, /nfshome/jl9489/PUIdata/pluto.zip.zip or /nfshome/jl9489/PUIdata/pluto.zip.ZIP.

In [5]:
# List of what is in the environmental variable.  This is the .zip file

!ls $PUIdata

PLUTO_for_WEB

In [6]:
# Extract the .csv file for Manhattan data and use pandas function to assign variable to .csv

# with open(PUIdata + '/PLUTO_for_WEB' + '/MN_18v1.csv', 'r') as csv:
mn_csv = pd.read_csv(PUIdata + '/PLUTO_for_WEB' + '/MN_18v1.csv')
    
# with open(PUIdata + '/PLUTO_for_WEB' + '/BK_18v1.csv', 'r') as csv_2:
bk_csv = pd.read_csv(PUIdata + '/PLUTO_for_WEB' + '/BK_18v1.csv')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
# First 10 rows of the Manhattan data

mn_csv.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [8]:
# First 10 rows of the Brooklyn data

bk_csv.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [9]:
# Show column names for Manhattan data

mn_csv.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

In [10]:
# Show column names for Brooklyn data

bk_csv.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [11]:
# Drop columns except for 'ZipCode' and 'LandUse'

mn_csv = pd.DataFrame(mn_csv.drop(mn_csv.columns.difference(['ZipCode', 'LandUse']), axis = 1, inplace = True))

mn_csv

Empty DataFrame
Columns: []
Index: []

In [12]:
# Drop columns except for 'ZipCode' and 'LandUse'.  This is for the Brooklyn dataset

bk_csv = pd.DataFrame(bk_csv.drop(bk_csv.columns.difference(['ZipCode', 'LandUse']), axis = 1, inplace = True))

bk_csv

Empty DataFrame
Columns: []
Index: []

In [13]:
# Convert ZipCode to string data type

# mn_csv['ZipCode'] = mn_csv.astype('str')
# bk_csv['ZipCode'] = bk_csv.astype('str')

In [14]:
# Manhattan Data
#
# Use .groupby() function to count number of records for each LandUse ID number

mn_csv_grouped = pd.DataFrame(mn_csv.groupby(['LandUse']).count().reset_index())

mn_csv_grouped

KeyError: 'LandUse'

In [ ]:
# Brooklyn Data
#
# Use .groupby() function to count number of records for each LandUse ID number


bk_csv_grouped = bk_csv.groupby(['LandUse']).count()

bk_csv_grouped = bk_csv_grouped.reset_index()

bk_csv_grouped

In [ ]:
# Convert LandUse data point form floating point to integers

mn_csv_grouped['LandUse'] = mn_csv_grouped.astype('int')
bk_csv_grouped['LandUse'] = bk_csv_grouped.astype('int')

In [ ]:
mn_csv_grouped.head()

In [ ]:
# Merged Brooklyn and Manhattan data frames

both_csv = pd.DataFrame(mn_csv_grouped.merge(bk_csv_grouped, on = 'LandUse'))

both_csv

In [ ]:
# Renamed indexes to identify which is Brooklyn & which is Manhattan

both_csv = both_csv.rename(index=str, columns = {'ZipCode_x' : 'MN', 'ZipCode_y' : 'BK'})

both_csv

In [ ]:
# Trying to convert data in LandUse column to the descriptions.  
# Credit to GitHub user AHassler for this piece of code

both_csv['LandUse'] = both_csv['LandUse'].astype('str')

both_csv['LandUse'] = both_csv['LandUse'].replace({
    '1' : 'One &Two Family Buildings',
    '2' : 'Multi-Family Walk-Up Buildings',
    '3' : 'Multi-Family Elevator Buildings',
    '4' : 'Mixed Residential & Commercial Buildings',
    '5' : 'Commercial & Office Buildings',
    '6' : 'Industrial & Manufacturing',
    '7' : 'Transportation & Utility',
    '8' : 'Public Facilities & Institutions',
    '9' : 'Open Space & Outdoor Recreation',
    '10' : 'Parking Facilities',
    '11' : 'Vacant Land'})

both_csv

In [ ]:
# Find the ratio of buildings in Manhattan to those in Brooklyn

both_csv['luratio'] = both_csv['MN'].divide(both_csv['BK'])

both_csv

In [ ]:
# User defined function, man_wins. Used, along with luratio, 
# to compare the ratio of buildings in Manhattan to Brooklyn.

def man_wins(x):
        if x > 1:
            return True   # This is if the luratio > 1
        else:
            return False
        
both_csv['Manhattan Wins'] = both_csv['luratio'].apply(man_wins)

both_csv

The only category that Manhattan exceeds Brooklyn is the Multi-Family Elevator Building.  This makes sense intuitively, as Manhattan has more skyscrapers.  The biggest disparity is the One & Two Family Building, showing just how much of Brooklyn is residential compared to Manhattan.  However, even the Commercial & Office Buildings count is led by Brooklyn.  This all seems to imply that Manhattan developers (either by design or necessity) use their available space more efficiently.